.animation {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(2rem);
  }
}
